<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div align="center">
        <form method="POST" action="/book/new">
            <div>Books Title</div>
            <input type="text" name="title" required>
            <div>Author</div>
            <input type="text" name="author" required>
            <div>Release Year</div>
            <input type="text" name="release_year" required>
            <div>Description</div>
            <input type="text" name="description" required>
            <div>Cover Image URL</div>
            <input type="text" name="photo" required><br><br>
            <button type="submit">Submit</button><br><br>
        </form>
        <form action="/books" method="get">
            <input type="submit" value="See Books" 
                 name="getbooks"/>
        </form> 
    </div>
</body>
</html>
